[user]
    name = ???
    email = ???
[core]
    editor = vim -c ¥"set fenc=utf-8¥"
    autocrlf = input
	quotepath = false
	ignorecase = false
[alias]
    lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
[merge]
    tool = vimdiff
[color]
    ui = auto
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[push]
	default = simple
